@media only screen and (max-width: 900px) {
    body{
        margin: 0;
        padding: 0;
    }
    
    .s1car {
        height: 1px;
        width: auto;
        margin-left: 2px;
    }

    .hugeheadings{
        font-size: 35px;
        margin: auto;
        text-align: center;
        padding-top: 30px;
    }

    .headings{
        font-size: 30px;
        margin: auto;
        text-align: center;
        padding: 10px;
    }

    .smallheadings{
        font-size: 25px;
        margin: auto;
        text-align: center;
        padding: 10px;
    }

    
    
    .paragraphs{
        font-size: 15px;
        text-align: center;
        margin: auto;
        padding: 10px;
        padding-top: 50px;
    }


    /* SECTION-1 */

    .learn-more{
        display: flex; /* Use flexbox for easy centering */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        padding: 10px;
        height: 60px;
        width: auto; /* Make sure the width is set to auto for responsive sizing */
        margin: 0 auto; /* This ensures the button is horizontally centered */
    }

    .section1DME{
        height: fit-content;
        padding: 20px;
    }

    /* SECTION-2 */
    .section2Features{
        padding: 20px;
        height: fit-content;
    }

    .slideshow-container{
        width: 180px;
        margin-top: 20px;
        margin-left: 50px;
        align-items: center;
    }

    .features-list{
        position: relative;
        font-size: 15px;
        margin: auto;
        padding: auto;
        margin-bottom: -150px;
        
    }
    /* SECTION-3 */
    .s3screens{
        display: flex; /* Use flexbox for easy centering */
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 10px;
        height: 210px;
        margin: 0 auto;
    }

    .s3playstore{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 10px;
        height: 60px;
        margin: 0 auto;
    }

    .section3Download{
        padding: 20px;
        height: max-content;
    }
    /* SECTION-4 */

    .section4Follow{
        display: flex;
        align-items: center; /* Vertically center the text and icons */
        justify-content: flex-start;
        padding: 20px;
        height: max-content;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }

    .s4heading{
        font-size: 25px;
        margin-left: 1px;
        position: relative;
        margin-right: 30px;
    }

    .s4insta{
        margin-left: 10px; /* Add space between icons */
        width: auto;
        height: 25px;
        margin-top: 4px;

    }
    .s4linkedin {
        margin-left: -30px; /* Add space between icons */
        width: auto;
        height: 25px;
        margin-top: 4px;
        margin-right: 10px;

    }
    /* SECTION-5 */

    .s5box{
        transform: scale(0.6);
        margin: auto;
        padding: auto;
        align-items: center;
        transform-origin: top left;
        margin: -120px;
        margin-left: -20px;
    }

    .s5heading2{
        margin-bottom: 150px;
    }

    #s5box2{
        margin-bottom: -220px;
    }


    /* SECTION-6 */

    .section6Chat{
        height: fit-content;
        padding: 20px;
    }

    .chatbox{
        height: 400px;
        width: 250px;
        margin-left: 50px;
    }

    .s6bookdriver{
        position: absolute;
        height: 1px;
        width: auto;
        margin-left: 2px;
    }


    /* SECTION-7 */
    .s7box{
        transform: scale(0.6);
        margin: -70px;
        padding: auto;
        align-items: center;


    }

    




     /* HEADER */

     .header-logo {
        height: 60px;
        width: auto;
    }

    .contact-us{
        font-size: 15px;
        
    }

    .contactus {
        margin-left: 20px;
    }

    .get-app {
        width: auto;
        height: 30px;
        margin-left: 20px;
        margin-top: 47px;
    }

    /* MAIN CONTENT HEIGHT MANAGER */


    /* MAIN CONTENT */

    .heading{
        margin: 10px;
        font-size: 35px;
    }

    .paras{
        font-size: 10px;
        margin: 10px;
    }

    .main-content {
        width: auto;
        background-color: white;
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        overflow: visible;
    }

    .heading2 {
        font-size: 25px;
        margin: 10px;
    }

    .refund-lists {
        margin: 10px;
        font-size: 10px;
    }

    .heading3 {
        font-size: 20px;
        margin: 10px;
    }

    /* FOOTER */

    .footer-text{
        font-size: 20px;
        margin-left: 30px;
    }

    .r2021 {
        font-size: 10px;
    }

    .footer-logo {
        width: auto;
        height: 60px;
    }


    .footer-list{
        list-style-type: none;
        margin: 5px;
        padding: 0;
        overflow: hidden;
    }
    
    .footer-list li {
        float: none;
    }

    .contact-title{
        font-size: 20px;
    }

    .mid {
        margin-left: 30px;
        margin-right: 30px
    }

    .explore-title{
        font-size: 20px;
    }

    .explore {
        font-size: 10px
    }
    
    .left {
        margin-left: 30px;
    }

    .contact-us-footer{
        font-size: 10px;
    }



    /* HOME PAGE */


}